<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserRegisterServlet</servlet-name>
		<servlet-class>com.interestfriend.servlet.UserRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>VerifyCellPhoneServlet</servlet-name>
		<servlet-class>com.interestfriend.servlet.VerifyCellPhoneServlet</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateCircleServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.CreateCircleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CircleListServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.CircleListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddGrowthServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.AddGrowthServlet</servlet-class>
  </servlet>





	<servlet-mapping>
		<servlet-name>UserRegisterServlet</servlet-name>
		<url-pattern>/servlet/UserRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerifyCellPhoneServlet</servlet-name>
		<url-pattern>/servlet/VerifyCellPhoneServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateCircleServlet</servlet-name>
    <url-pattern>/servlet/CreateCircleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CircleListServlet</servlet-name>
    <url-pattern>/servlet/CircleListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddGrowthServlet</servlet-name>
    <url-pattern>/servlet/AddGrowthServlet</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
