<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserRegisterServlet</servlet-name>
		<servlet-class>com.interestfriend.servlet.UserRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>VerifyCellPhoneServlet</servlet-name>
		<servlet-class>com.interestfriend.servlet.VerifyCellPhoneServlet</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateCircleServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.CreateCircleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CircleListServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.CircleListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddGrowthServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.AddGrowthServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetGrowthListServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.GetGrowthListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetCircleCategoryServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.GetCircleCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetCirclesByCategoryServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.GetCirclesByCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JoinOfficialCircleServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.JoinOfficialCircleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetMembersByCircleIDServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.GetMembersByCircleIDServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpLoadVideoServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.UpLoadVideoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetVideoListServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.GetVideoListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.GetUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchNearCirclesServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.SearchNearCirclesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.UpdateUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUserAvatarServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.UpdateUserAvatarServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetMemberCirclesServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.GetMemberCirclesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VideoCommentServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.VideoCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.DeleteCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelVideoCommentServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.DelVideoCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>KickOutMemberServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.KickOutMemberServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QuitCircleServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.QuitCircleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DissolveCircleServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.DissolveCircleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindPasswordGetVerifyCode</servlet-name>
    <servlet-class>com.interestfriend.servlet.FindPasswordGetVerifyCode</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUserLoginPassword</servlet-name>
    <servlet-class>com.interestfriend.servlet.UpdateUserLoginPassword</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReceiveJoinCircleRequestServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.ReceiveJoinCircleRequestServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RefuseJoinCircleRequestServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.RefuseJoinCircleRequestServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateCircleDiscirptionServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.UpdateCircleDiscirptionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GrowthPraiseServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.GrowthPraiseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CancelGrowthPraiseServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.CancelGrowthPraiseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetGrowthByGrowthIDServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.GetGrowthByGrowthIDServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindPasswordCheckCellphone</servlet-name>
    <servlet-class>com.interestfriend.servlet.FindPasswordCheckCellphone</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckVerifyCodeServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.CheckVerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>APPVersionUpdateServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.APPVersionUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ErrorLog</servlet-name>
    <servlet-class>com.interestfriend.servlet.ErrorLog</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateCircleLogoServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.UpdateCircleLogoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUserAddressServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.UpdateUserAddressServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUserFriendServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.AddUserFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetUserFriendServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.GetUserFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelUserFriendServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.DelUserFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUserFriendInviteServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.AddUserFriendInviteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RefuseInvitationServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.RefuseInvitationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddXinQingServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.AddXinQingServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetXinQingListServlet</servlet-name>
    <servlet-class>com.interestfriend.servlet.GetXinQingListServlet</servlet-class>
  </servlet>














































	<servlet-mapping>
		<servlet-name>UserRegisterServlet</servlet-name>
		<url-pattern>/servlet/UserRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerifyCellPhoneServlet</servlet-name>
		<url-pattern>/servlet/VerifyCellPhoneServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateCircleServlet</servlet-name>
    <url-pattern>/servlet/CreateCircleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CircleListServlet</servlet-name>
    <url-pattern>/servlet/CircleListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddGrowthServlet</servlet-name>
    <url-pattern>/servlet/AddGrowthServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGrowthListServlet</servlet-name>
    <url-pattern>/servlet/GetGrowthListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCircleCategoryServlet</servlet-name>
    <url-pattern>/servlet/GetCircleCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCirclesByCategoryServlet</servlet-name>
    <url-pattern>/servlet/GetCirclesByCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JoinOfficialCircleServlet</servlet-name>
    <url-pattern>/servlet/JoinOfficialCircleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMembersByCircleIDServlet</servlet-name>
    <url-pattern>/servlet/GetMembersByCircleIDServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/servlet/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpLoadVideoServlet</servlet-name>
    <url-pattern>/servlet/UpLoadVideoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetVideoListServlet</servlet-name>
    <url-pattern>/servlet/GetVideoListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <url-pattern>/servlet/GetUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchNearCirclesServlet</servlet-name>
    <url-pattern>/servlet/SearchNearCirclesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <url-pattern>/servlet/UpdateUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserAvatarServlet</servlet-name>
    <url-pattern>/servlet/UpdateUserAvatarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMemberCirclesServlet</servlet-name>
    <url-pattern>/servlet/GetMemberCirclesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/servlet/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VideoCommentServlet</servlet-name>
    <url-pattern>/servlet/VideoCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <url-pattern>/servlet/DeleteCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelVideoCommentServlet</servlet-name>
    <url-pattern>/servlet/DelVideoCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KickOutMemberServlet</servlet-name>
    <url-pattern>/servlet/KickOutMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuitCircleServlet</servlet-name>
    <url-pattern>/servlet/QuitCircleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DissolveCircleServlet</servlet-name>
    <url-pattern>/servlet/DissolveCircleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindPasswordGetVerifyCode</servlet-name>
    <url-pattern>/servlet/FindPasswordGetVerifyCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserLoginPassword</servlet-name>
    <url-pattern>/servlet/UpdateUserLoginPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReceiveJoinCircleRequestServlet</servlet-name>
    <url-pattern>/servlet/ReceiveJoinCircleRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RefuseJoinCircleRequestServlet</servlet-name>
    <url-pattern>/servlet/RefuseJoinCircleRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCircleDiscirptionServlet</servlet-name>
    <url-pattern>/servlet/UpdateCircleDiscirptionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GrowthPraiseServlet</servlet-name>
    <url-pattern>/servlet/GrowthPraiseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CancelGrowthPraiseServlet</servlet-name>
    <url-pattern>/servlet/CancelGrowthPraiseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGrowthByGrowthIDServlet</servlet-name>
    <url-pattern>/servlet/GetGrowthByGrowthIDServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindPasswordCheckCellphone</servlet-name>
    <url-pattern>/servlet/FindPasswordCheckCellphone</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckVerifyCodeServlet</servlet-name>
    <url-pattern>/servlet/CheckVerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>APPVersionUpdateServlet</servlet-name>
    <url-pattern>/servlet/APPVersionUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErrorLog</servlet-name>
    <url-pattern>/servlet/ErrorLog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCircleLogoServlet</servlet-name>
    <url-pattern>/servlet/UpdateCircleLogoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserAddressServlet</servlet-name>
    <url-pattern>/servlet/UpdateUserAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserFriendServlet</servlet-name>
    <url-pattern>/servlet/AddUserFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUserFriendServlet</servlet-name>
    <url-pattern>/servlet/GetUserFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelUserFriendServlet</servlet-name>
    <url-pattern>/servlet/DelUserFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserFriendInviteServlet</servlet-name>
    <url-pattern>/servlet/AddUserFriendInviteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RefuseInvitationServlet</servlet-name>
    <url-pattern>/servlet/RefuseInvitationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddXinQingServlet</servlet-name>
    <url-pattern>/servlet/AddXinQingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetXinQingListServlet</servlet-name>
    <url-pattern>/servlet/GetXinQingListServlet</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
